/**
 * Site header
 */
 .site-header {
    // border-bottom: 1px solid $grey-color-light;
    min-height: $spacing-unit * 1.865;
    font-family: 'Poppins', sans-serif; 
    font-weight: light;
    background-color: rgba(255, 255, 255, 0.85);
    // Positioning context for the mobile navigation icon
    position: sticky; top:0;//specify starting point of 0
    z-index: 8;
    margin-top: 25px;
  }
  

  .site-title {
    @include relative-font-size(1.58);
    font-weight: 300;
    font-family: 'Abril Fatface', sans-serif;
    color: $medium-green;
    line-height: $base-line-height * $base-font-size * 2.5;
    letter-spacing: 1px;
    margin-bottom: 0;
    float: left;
    display: inline;
  }


  .site-title-wrapper {
    display: flex;
    align-items: center;
    max-width: min-content;

    @include media-query($on-laptop) {
      display: none;
     }
  }
  
  .site-nav {
    float: right;
    display: flex;
    line-height: $base-line-height * $base-font-size * 2.5;

 
    .nav-trigger {
        display: none;
    }

    .trigger {
      display: flex;
      justify-content: space-between;
      @include media-query($on-laptop) {
      flex-direction: column;
       }
    }
  
    .menu-icon {
      display: none;
    }
  
    .page-link {
      color: $medium-green;
      line-height: $base-line-height;
      margin: 20px 45px;
      white-space: nowrap;
  
      
      // Gaps between nav items, but not on the last one
      &:last-child {
        margin-right: 0px;
      } 
    }
  
    @include media-query($on-palm) {
      position: absolute;
      top: 9px;
      right: $spacing-unit / 2;
      background-color: $background-color;
      border: 1px solid $grey-color-light;
      border-radius: 5px;
      text-align: right;
  
      label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
      }
  
      .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
  
        > svg {
          fill: $medium-green;
        }
      }
  
      input ~ .trigger {
        clear: both;
        display: none;
      }
  
      input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
      }

      .page-link {
        display: block;
        padding: 5px 10px;
  
        &:not(:last-child) {
          margin-right: 0;
        }
        margin-left: 20px;
      }
    }
  }

  .site-button {
    border: 4px solid $light-green;
    border-radius: 5px;
    color: $light-green;
    padding: 5px;
    text-align: center;
    font-weight: bold;
   }

  
  /**
   * Site footer
   */
  .site-footer {
    border-top: 1px solid $grey-color-light;
    padding: 35px 0;
  }
  
  .footer-heading {
    @include relative-font-size(1.225);
    margin-bottom: $spacing-unit / 2;
  }
  
  .contact-list,
  .social-media-list {
    list-style: none;
    margin-left: 0;
  }
  
  .footer-col-wrapper {
    @include relative-font-size(0.8);
    color: $grey-color;
    margin-left: -10px;
    overflow: hidden;
    @extend %clearfix;
  }
  
  .footer-col {
    float: left;
    text-align: center;
    padding-left: 10px;
  }
  
  .footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
    text-align: center;
  }
  
  .footer-col-2 {
    display: flex;
    justify-content: center;
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
    text-align: center;
  }
  
  .footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
  }
  
  @include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
      width: -webkit-calc(50% - (#{$spacing-unit} / 2));
      width:         calc(50% - (#{$spacing-unit} / 2));
    }
  
    .footer-col-3 {
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
      width:         calc(100% - (#{$spacing-unit} / 2));
    }
  }
  
  @include media-query($on-palm) {
    .footer-col {
      float: none;
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
      width:         calc(100% - (#{$spacing-unit} / 2));
    }
  }

  .social-link-container {
    display: flex;
    flex-direction: column;
    align-content: flex start;
    padding-left: 15px;
  }

  .social-link {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .social-icon {
    padding: 0px 8px 0px 0px; 
    fill: grey;
    width: 18px;
    height: 18px;
  }
  
  /**
   * Page content
   */
  .page-content {
    padding: 0px;
    flex: 1;
    margin: 25px 0px;
  }

  .page-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin: 30px 0;
  }
  
  .page-heading {
    @include relative-font-size(2);
  }
  
  .post-list-heading {
    @include relative-font-size(1.75);
  }
  
  .post-meta {
    font-size: $small-font-size;
    color: $grey-color;
  }
  
  .post-link {
    display: block;
    @include relative-font-size(1.5);
  }
  
  /**
   * Posts
   */
  .post-header {
    margin-bottom: $spacing-unit;
  }
  
  .post-title {
    @include relative-font-size(2.025);
    letter-spacing: -1px;
    line-height: 1;
  }

  .dt-published {
    font-size: $base-font-size;
  }
  
  .post-content {
    margin-bottom: $spacing-unit;
  
    h2 {
      @include relative-font-size(2);
  
      @include media-query($on-laptop) {
        @include relative-font-size(1.75);
      }
    }
  
    h3 {
      @include relative-font-size(1.625);
  
      @include media-query($on-laptop) {
        @include relative-font-size(1.375);
      }
    }
  
    h4 {
      @include relative-font-size(1.25);
  
      @include media-query($on-laptop) {
        @include relative-font-size(1.125);
      }
    }
  }
  
  .post-list {
    margin-left: 0px; 
    list-style: none;
    display: flex;
    flex-flow: row nowrap; //to add scrollbar, change to nowrap.
    overflow-x: auto;
    justify-content: space-between;
    background-color: white;
  
    > li {
      margin-bottom: $spacing-unit;
      display: inline-block;
      box-sizing: border-box;
    }
  }

  // layout css for home feed
  #home-feed-wrapper {
    padding: 20px;
    background-color: $light-purple;
  }

  .home-feed-header {
    margin: 40px 0 0 0;
    text-align: center;
    line-height: 17px;
  }

@font-face { font-family: Jadyn; src: url('/assets/fonts/JadynMaria.otf'); } 

  .home-feed-header-featured {
    font-family: 'Jadyn', sans-serif;
    font-size: ($base-font-size*4.9);
    display: inline;
    margin-right: 10px;
    color: $light-green;
  }

  .home-feed-header-updates {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: ($base-font-size)*2.2;
    display: inline;
    color: $light-green;
  }

  .home-feed-post-wrapper {
    margin-right: 20px;
    margin-left: 0px;
    display: flex;
    width: 220px;
    flex-flow: column nowrap;
    max-height: 386px;
  }

  .home-feed-post-date {
    display: block;
    color: $light-green;
    font-weight: bold;
    text-transform: uppercase;
    @include relative-font-size(0.8);
    margin-bottom: 5px;
  }

  .home-feed-post-img {
    display: block;
    width: 220px;
    height: 250px;
    object-fit: cover;

    &:hover {
      opacity: 0.5;
    }
  }

  .home-feed-post-link {
    
    font-weight: bold;
    text-transform: uppercase;
    background-color: $grey-color-light;
    text-align: center;
    padding: 17px;
    line-height: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    @include relative-font-size(0.9);
    
  }

  .home-feed-post-link:hover {
    background-color: $lighter-green;
  }

  .excerpt {
    display: block;
    color: $grey-excerpt;
    font-weight: light;
    font-size: ($base-font-size)*0.8666;
    margin-top: 10px;
      
      
    > p { 
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;

        //text-overflow: ellipsis;
        //white-space: nowrap;
        overflow: hidden;
        margin: 0px;
      }
    }

    //css for home page "about us" section
    #home-about-wrapper {
      display: flex;
      flex-flow: row nowrap;
      margin-top: 50px;
      margin-bottom: 50px;
      justify-content: center;

      @include media-query($on-laptop) {
        flex-flow: column wrap;
        align-items: center;
       }
    }

    #home-about-img-container {
      display: flex;
      width: 50%;
      justify-content: left;

      @include media-query($on-laptop) {
        justify-content: center;
        width: 100%;
        height: auto;
        margin-bottom: 40px;
       }
    }

    #home-about-img {
      width: 70%;
      height: auto;
    }

    #home-about-excerpt-container {
      display: flex;
      width: 50%;
      flex-flow: column nowrap;
      align-items: flex-end;
      justify-content: center;

      @include media-query($on-laptop) {
        width: 100%;
       }
    }

    #home-about-title {
      color: $light-green;
      text-align: right;
    }

    #home-about-excerpt {
      text-align: right;
      color: $grey-excerpt;
    }

    #home-about-button {
      width: 30%;
      margin-top: 10px;
      @include media-query($on-laptop) {
        width: 50%;
       }
    }

    //css for logo
    .logo-container-img {
      position: static;
    }

    // css for journal tiles
    .location-wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }

    .location-box {
      position: relative;
      text-align: center;
      width: 280px;
      height: 280px;
      margin: 15px;
      border: none;

      @include media-query($on-laptop) {
       width: 150px;
       height: 150px;
       margin: 6px;
      }
    }


    .location-box-img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &:hover {
        opacity: 0.5;
      }

      &:hover + .location-title {
        display: block;
      }

      @include media-query($on-laptop) {
        opacity: 0.5;
      }
    }

    .location-title {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      font-weight: bold;
      color: #020202;

      &:hover {
        display: block;
      }
      &:hover + .location-box-img {
        opacity: 0.5;
      }

      @include media-query($on-laptop) {
        display: block;
      }
    }

//css for category post list

.category-title {
  font-family: 'Jadyn', sans-serif;
  font-size: ($base-font-size)*6;
  text-align: center;
  color: $light-green;
  line-height: 60px;
  margin-bottom: 25px;
  }

.category-post-list {
  margin-left: 0px; 
  list-style: none;
  display: flex;
  flex-flow: row wrap; //to add scrollbar, change to nowrap.
  justify-content: space-around;
  background-color: white;

  > li {
    margin-bottom: $spacing-unit;
    display: inline-block;
    box-sizing: border-box;
    max-width: 220px;
  }
}

.category-post-wrapper {
  margin-right: 20px;
  margin-left: 0px;
  display: flex;
  width: 220px;
  flex-flow: column nowrap;
  max-height: 386px;
}

.category-post-img {
    display: block;
    width: 220px;
    height: 250px;
    object-fit: cover;
}

//about page

.about-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  @include media-query($on-laptop) {
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
  }
}


.about-personal-info {
  background-color: white;
  word-break: break-word;
  padding: 10px;
}

#about-info-ctgry {
 // font-size: ($base-font-size)*1.1;
  font-weight: bold;
  display: inline;
}

.about-img {
  height: 400px;
  width: 300px;
  object-fit: cover;
  transform: scaleX(-1);
  padding: 10px;
}

