/**
 * Site header
 */
 .site-header {
    border-bottom: 1px solid $grey-color-light;
    min-height: $spacing-unit * 1.865;
    background-color: white;
    font-family: 'Poppins', sans-serif; 
    font-weight: light;  
    // Positioning context for the mobile navigation icon
    position: sticky; top:0;//specify starting point of 0
    z-index: 8;
  }
  
  .site-title {
    @include relative-font-size(1.625);
    font-weight: 300;
    font-family: 'Abril Fatface', sans-serif;
    color: $brand-color;
    line-height: $base-line-height * $base-font-size * 2.5;
    letter-spacing: 1px;
    margin-bottom: 0;
    float: left;
    display: inline;
  
    &,
    &:visited {
     //color: $grey-color-dark;
     color: $brand-color;
    }
  }

  .site-title-wrapper {
    display: flex;
    align-items: center;
    max-width: min-content
  }
  
  .site-nav {
    float: right;
    line-height: $base-line-height * $base-font-size * 2.5;

 
    .nav-trigger {
        display: none;
    }
  
    .menu-icon {
      display: none;
    }
  
    .page-link {
      color: $brand-color;
      line-height: $base-line-height;
      margin: 20px;
  
      // Gaps between nav items, but not on the last one
      &:last-child {
        margin-right: 0px;
      } 
    }
  
    @include media-query($on-palm) {
      position: absolute;
      top: 9px;
      right: $spacing-unit / 2;
      background-color: $background-color;
      border: 1px solid $grey-color-light;
      border-radius: 5px;
      text-align: right;
  
      label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
      }
  
      .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
  
        > svg {
          fill: $grey-color-dark;
        }
      }
  
      input ~ .trigger {
        clear: both;
        display: none;
      }
  
      input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
      }
  
      .page-link {
        display: block;
        padding: 5px 10px;
  
        &:not(:last-child) {
          margin-right: 0;
        }
        margin-left: 20px;
      }
    }
  }
  
  
  
  /**
   * Site footer
   */
  .site-footer {
    border-top: 1px solid $grey-color-light;
    padding: 15px 0;
    padding-top: 35px;
  }
  
  .footer-heading {
    @include relative-font-size(1.125);
    margin-bottom: $spacing-unit / 2;
  }
  
  .contact-list,
  .social-media-list {
    list-style: none;
    margin-left: 0;
  }
  
  .footer-col-wrapper {
    @include relative-font-size(0.7375);
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    overflow: hidden;
    @extend %clearfix;
  }
  
  .footer-col {
    float: left;
    text-align: center;
    padding-left: $spacing-unit / 2;
  }
  
  .footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
    text-align: center;
  }
  
  .footer-col-2 {
    display: flex;
    justify-content: center;
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
    text-align: center;
  }
  
  .footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
  }
  
  @include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
      width: -webkit-calc(50% - (#{$spacing-unit} / 2));
      width:         calc(50% - (#{$spacing-unit} / 2));
    }
  
    .footer-col-3 {
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
      width:         calc(100% - (#{$spacing-unit} / 2));
    }
  }
  
  @include media-query($on-palm) {
    .footer-col {
      float: none;
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
      width:         calc(100% - (#{$spacing-unit} / 2));
    }
  }

  .social-link-container {
    display: flex;
    flex-direction: column;
    align-content: flex start;
  }

  .social-link {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .social-icon {
    padding: 0px 5px 0px 0px; 
    fill: grey;
    width: 18px;
    height: 18px;
  }
  
  
  
  /**
   * Page content
   */
  .page-content {
    padding: 0px;
    flex: 1;
    margin: $spacing-unit 0px;
  }

  .page-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin: 30px 0;
  }
  
  .page-heading {
    @include relative-font-size(2);
  }
  
  .post-list-heading {
    @include relative-font-size(1.75);
  }
  
  
  
  .post-meta {
    font-size: $small-font-size;
    color: $grey-color;
  }
  
  .post-link {
    display: block;
    @include relative-font-size(1.5);
  }
  
  
  
  /**
   * Posts
   */
  .post-header {
    margin-bottom: $spacing-unit;
  }
  
  .post-title {
    @include relative-font-size(2.025);
    letter-spacing: -1px;
    line-height: 1;
  
    @include media-query($on-laptop) {
      @include relative-font-size(2.025);
    }
  }
  
  .post-content {
    margin-bottom: $spacing-unit;
  
    h2 {
      @include relative-font-size(2);
  
      @include media-query($on-laptop) {
        @include relative-font-size(1.75);
      }
    }
  
    h3 {
      @include relative-font-size(1.625);
  
      @include media-query($on-laptop) {
        @include relative-font-size(1.375);
      }
    }
  
    h4 {
      @include relative-font-size(1.25);
  
      @include media-query($on-laptop) {
        @include relative-font-size(1.125);
      }
    }
  }
  
  .post-list {
    margin-left: 0px; 
    list-style: none;
    display: flex;
    flex-flow: row nowrap; //to add scrollbar, change to nowrap.
    overflow-x: auto;
    justify-content: space-between;
    background-color: white;
  
    > li {
      margin-bottom: $spacing-unit;
      display: inline-block;
      box-sizing: border-box;
    }
  }


  // layout css for home feed

  #home-feed-wrapper {
    padding: 10px;
    background-color: $light-purple;
  }

  .home-feed-header {
    margin: 40px 0 0 0;
    text-align: center;
    line-height: 17px;
  }

@font-face { font-family: Jadyn; src: url('/assets/fonts/JadynMaria.otf'); } 

  .home-feed-header-featured {
    font-family: 'Jadyn', sans-serif;
    font-size: 70px;
    display: inline;
    margin-right: 10px;
    color: $dark-purple;
  }

  .home-feed-header-updates {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    display: inline;
  }

  .home-feed-post-wrapper {
    margin-right: 20px;
    margin-left: 0px;
    display: flex;
    max-width: 200px;
    flex-flow: column nowrap;
    max-height: 386px;
  }

  .home-feed-post-date {
    display: block;
    color: $dark-purple;
    font-weight: bold;
    text-transform: uppercase;
    @include relative-font-size(0.8);
    margin-bottom: 5px;
  }

  .home-feed-post-img {
    display: block;
    width: 200px;
    height: 230px;
    object-fit: cover;

    &:hover {
      opacity: 0.5;
    }
  }

  .home-feed-post-link {
    
    font-weight: bold;
    text-transform: uppercase;
    background-color: $grey-color-light;
    text-align: center;
    padding: 7px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    @include relative-font-size(0.8);
    
  }

  .home-feed-post-link:hover {
    background-color: $light-purple;
  }

  .excerpt {
    display: block;
    color: $brand-color;
    font-weight: light;
    font-size: 12px;
    margin-top: 10px;
      
      
      
    > p { 
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;

        //text-overflow: ellipsis;
        //white-space: nowrap;
        overflow: hidden;
        margin: 0px;
      }
    }

    //css for logo

 
    .logo-container-img {
      position: static;
    }
