---
layout: default
title: ABOUT US
permalink: /about/
---

<div class="middle-wrapper">
    <div class="bss-slides" tabindex="1" autofocus="autofocus">
        <figure>
            <img src="/assets/images/sittingAtTable.jpeg" />
        </figure>
        <figure>
            <img src="/assets/images/aesthetic.png"/>
        </figure>
    </div>
    {% comment %} <img src="/assets/images/crosshatch.png" style="position: absolute; top: 320px; left: 180px; width: 400px;"> {% endcomment %}
</div>
  
  <script>
      makeBSS('.bss-slides');
  </script>
  
  <div class="home-feed-header">
    <p class="home-feed-header-featured">featured
    <p class="home-feed-header-updates">UPDATES
  </div>
  
  
  <div class="full-wrapper" id="home-feed-wrapper">
    <div class="middle-wrapper" style="padding: 20px; padding-bottom: 10px; background-color: white">
      <ul class="post-list">
            {%- for post in site.posts limit: 10 -%}
              <li>
                <div class="home-feed-post-wrapper">         
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    <span class="home-feed-post-date">{{ post.date | date: date_format }}</span>
                    
                    {%- if post.image %}
                    <a href="{{ post.url | relative_url }}"><img class="home-feed-post-img" src={{post.image | escape }}></a>
                    {%- endif -%}
  
                    <a class="home-feed-post-link" href="{{ post.url | relative_url }}">
                      {{ post.title | escape }}
                    </a>
  
                    
                    <div class ="excerpt">
                      {{ post.excerpt }}
                    </div>
  
                </div>
              </li>
            {%- endfor -%}
        </ul>
      </div>
    </div>
  
      <div class="middle-wrapper" id="home-about-wrapper">
        <div id="home-about-img-container">
          <img id="home-about-img" src="/assets/images/smilingAtCafe.png">
        </div>
        <div id="home-about-excerpt-container">
          <p id="home-about-title">NICE TO MEET YOU!</p>
          <p id="home-about-excerpt">Hi! We're Alex and Maddi, two people who are eager to explore the world. We started dreaming of this project in 2020, and we're finally bringing this adventure to life. Join us as we travel thousands of miles from home to make friends and work on sustainable projects.</p>
          <div class="site-button" id="home-about-button">MORE ABOUT US</div>
        </div>
      </div>
      
      <div class="full-wrapper" id="home-feed-wrapper">
  
</div>